@import url('https://fonts.cdnfonts.com/css/verdana');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#start {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            #ed6ea0, #ec8c69);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

#welcome {
    border-right: .15em solid transparent;
    font-size: 25px;
    cursor: default;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    #welcome {
        font-size: 18px;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

#content {
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    display: none;
}

.item {
    display: block;
    width: 100%;
    font-family: 'Verdana', sans-serif;
    margin-top: 15px;
}

.img-small {
    width: 100%;
}

.col-md {
    position: relative;
    padding: 10px;
}

.caption {
    display: block;
    width: 70%;
    left: 15%;
    bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}